[submodule "lib/template/liquid"]
	path = lib/template/liquid
	url = https://github.com/SilexLab/liquid.git
	branch = submodule
[submodule "lib/template/smarty"]
	path = lib/template/smarty
	url = https://github.com/SilexLab/smarty.git
	branch = master
[submodule "lib/message/parser/markdown"]
	path = lib/message/parser/markdown
	url = https://github.com/SilexLab/markdown.git
	branch = submodule
[submodule "lib/style/preprocessor/scss"]
	path = lib/style/preprocessor/scss
	url = https://github.com/SilexLab/scss.git
	branch = submodule
