[submodule "lib/smarty"]
	path = lib/smarty
	url = https://github.com/SilexLab/Smarty.git
[submodule "lib/message/parser"]
	path = lib/message/parser
	url = https://github.com/SilexLab/Markdown.git
[submodule "lib/style/scss"]
	path = lib/style/scss
	url = https://github.com/SilexLab/scssphp.git
	branch = submodule
