<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		colors="false"
		bootstrap="tests/bootstrap.php"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		>
	<testsuites>
		<testsuite name="Silex Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
