#user-search-bar {
	width: 60%;
}

.input {
	display: inline-block;
	width: 250px;

	&.big {
		display: block;
		margin: 0 auto;
		width: 400px;
	}

	&.password::after {
		content: "";
	}
}

input {
	&[type=text], &[type=date], &[type=email], &[type=number], &[type=search], &[type=time], &[type=password] {
		box-sizing: border-box;
		margin: 4px;
		padding: 0 5px;
		width: 100%;
		height: 25px;
		border: 0;
		border-bottom: 1px solid #ddd;
		color: #2e2e2e;
		transition: all .75s;
	}

	&.big {
		display: block;
		margin: 5px auto;
		width: 400px;
		height: 30px;
		border-bottom: 2px solid #ddd;
		background: transparent;
		text-align: center;
		font-weight: bold;
		font-size: 18px;
	}

	&:hover {
		border-color: #ccc;
		transition: all .25s;
	}

	&:focus, &.focus {
		border-color: #17a7df;
		transition: all .25s;
	}

	&[type=password], &[type=text] {
		& + .switch {
			position: relative;
			display: block;
			float: right;
			margin-top: -29px;
			width: 24px;
			height: 24px;
			border-radius: 2px;
			background: url(images/icon-preview.svg) 50% 50% no-repeat;
			background-size: 20px;
			cursor: pointer;
			transition: background-color .75s;
		}

		&.big + .switch {
			margin-top: -33px;
			margin-right: 3px;
		}
	}

	&[type=password] + .switch:hover, &[type=text] + .switch:hover {
		background-color: rgba(127, 127, 127, .25);
		transition: background-color .25s;
	}

	&[type=password] + .switch.focus, &[type=text] + .switch.focus {
		background-image: url(images/icon-preview-f.svg);
	}


}

/* Buttons */

.button,
button,
input[type=button],
input[type=submit],
input[type=file] {
	display: inline-block;
	box-sizing: border-box;
	margin: 0 5px;
	padding: 0 13px;
	min-width: 120x;
	height: 30px;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
	background: #f6f6f6;
	color: #666;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 30px;
	cursor: pointer;
	transition: all .25s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		background: rgba(153, 153, 153, .2);
	}

	&:active {
		background: rgba(153, 153, 153, .4);
	}

	&.highlight {
		border: 1px solid #5187df;
		background: #2196f3;
		color: #fff;

		&:hover {
			background: #1e88e5;
		}

		&:active {
			border-color: #2f5bb7;
			background: #1976d2;
		}
	}

	&.flat {
		margin: 0;
		border: 0;
		background: none;
		box-shadow: none;
		color: #4d4d4d;

		&.highlight {
			color: #2196f3;
		}

		&:hover {
			background: rgba(153, 153, 153, .2);
		}

		&:active {
			background: rgba(153, 153, 153, .4);
		}
	}

	&.float {
		display: block;
		float: left;
	}
}

.button-bar::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

.button-group {
	&::after {
		display: block;
		clear: both;
		height: 0;
		content: "";
	}

	& > .button, & > button, & > input[type=button], & > input[type=submit], & > input[type=file] {
		display: block;
		float: left;
		margin-right: 0;
		margin-left: 0;
	}

	& > :nth-child(n+2) {
		border-left: none;
		border-radius: 0;
	}

	& > :first-child {
		margin-left: 5px;
		border-radius: 2px 0 0 2px;
	}

	& > :last-child {
		margin-right: 5px;
		border-radius: 0 2px 2px 0;
	}
}
