* {
   margin: 0;
   padding: 0;
   outline: 0;
}

html, body {
   width: 100%;
   min-height: 100%;
   background: #2f3437;
   color: #596270;
   font-size: 15px;
   font-family: Roboto, Helvetica, 'Open Sans', 'Droid Sans', Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
   margin: 5px 0 10px 0;
   font-weight: bold;
}
   h1.uc, h2.uc, h3.uc, h4.uc, h5.uc, h6.uc {
      text-transform: uppercase;
   }

h1 {
   font-size: 45px;
}

h2 {
   font-size: 40px;
}

h3 {
   font-size: 35px;
}

h4 {
   font-size: 30px;
}

h5 {
   font-size: 25px;
}

h6 {
   font-size: 20px;
}

ul {
   list-style: none;
}

a {
   color: #497bad;
   text-decoration: none;
   transition: all 0.75s;
}
   a:hover {
      color: #095d8d;
      transition: all 0.25s;
   }

.container {
   width: 90%;
   max-width: 1000px;
   margin: 0 auto;
}

.column {
   margin-top: 40px;
   margin-bottom: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
}
   .column:first-child {
      margin-top: 25px;
   }
   .column:nth-child(even) {
      background: #eee;
   }

header {
   background-color: #414345;
   color: #fff;
   background-image: url('../images/header.jpg');
   background-position: 50%;
   background-size: cover;
   background-repeat: no-repeat;
}
   header .flair {
      padding: 15px 0;
      transition: all 0.25s;
      background: transparent;
   }
      header .flair .blue {
         background: rgba(71, 173, 232, 0.3);
      }
   header h1, header h2, header h3, header h4, header h5, header h6 {
      margin-top: 35px;
      margin-bottom: 0;
      font-weight: normal;
   }
   header .top::after {
      clear: both;
      content: "";
      display: block;
   }
   header .table {
      display: flex;
      flex-direction: row;
   }
      header .table > div {
         flex: 1 1 auto;
      }
   header .description {
      padding-top: 40px;
      font-size: 26px;
   }
   header::after {
      content: "";
      clear: both;
      display: block;
   }

#silex-logo {
   height: 45px;
}

nav.main {
   display: block;
   float: right;
}
   nav.main li {
      display: block;
      float: left;
      margin-left: 5px;
   }
      nav.main li a {
         display: block;
         padding: 5px;
         margin-top: 6px;
         height: 22px;
         border-bottom: 2px solid transparent;
         font-size: 18px;
         transition: all 0.75s;
         color: #fff;
         text-decoration: none;
      }
      nav.main li a:hover, nav.main li.active a {
         border-bottom-color: #47ade8;
         color: #47ade8;
         transition: all 0.25s;
      }
      nav.main li a.disabled {
         color: #808080;
         border-bottom: none;
         cursor: default;
      }

.flex {
   display: flex;
   justify-content: space-between;
}
   .flex.row {
      flex-direction: row;
   }
   .flex.row > * {
      margin: 0 20px;
   }
      .flex.row > *:first-child {
         margin-left: 0;
      }
      .flex.row > *:last-child {
         margin-right: 0;
      }
   .flex.row.r {
      flex-direction: row-reverse;
   }
      .flex.row.r *:first-child {
         margin-right: 0;
         margin-left: 20px;
      }
      .flex.row.r *:last-child {
         margin-left: 0;
         margin-right: 20px;
      }
   .flex.column {
      flex-direction: column;
   }
   .flex.column > * {
      margin: 20px 0;
   }
      .flex.column > *:first-child {
         margin-top: 0;
      }
      .flex.column > *:last-child {
         margin-bottom: 0;
      }
   .flex.column.r {
      flex-direction: column-reverse;
   }
      .flex.column.r *:first-child {
         margin-bottom: 0;
         margin-top: 20px;
      }
      .flex.column.r *:last-child {
         margin-top: 0;
         margin-bottom: 20px;
      }
   .flex > * {
      display: block;
      flex: 1;
   }

.main-content {
   background: #fff;
   padding: 20px 0;
   flex: 1;
}
   .main-content p {
      margin: 15px 0;
   }
   .main-content article.main {
      margin: 30px 0;
   }

footer.main {
   padding: 20px 0;
   display: block;
   width: 100%;
   box-sizing: border-box;
   color: #777;
   font-size: 13px;
}
   footer.main a {
      color: #aaa;
   }
   footer.main a:hover {
      color: #fff;
   }
   footer.main .table {
      display: flex;
      flex-direction: row;
   }
   footer.main .table > div {
      flex: 1;
   }
      footer.main .table > div:first-child {
         text-align: left;
      }
      footer.main .table > div:nth-child(2) {
         text-align: center;
      }
      footer.main .table > div:last-child {
         text-align: right;
      }
