$container-width: 90%;
$container-max-width: 1000px;
$mobile-width: 720px;

* {
	margin: 0;
	padding: 0;
	outline: 0;
}

html, body {
	width: 100%;
	min-height: 100%;
	background: #2f3437;
	// color: #2e2e2e;
	color: #596270;
	font-size: 15px;
	font-family: Roboto, Helvetica, 'Open Sans', 'Droid Sans', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	margin: 5px 0 10px 0;
	font-weight: bold;
	&.uc {
		text-transform: uppercase;
	}
}
h1 { font-size: 45px; }
h2 { font-size: 40px; }
h3 { font-size: 35px; }
h4 { font-size: 30px; }
h5 { font-size: 25px; }
h6 { font-size: 20px; }

ul {
	list-style: none;
}

a {
	color: #497bad;
	text-decoration: none;
	transition: all .75s;

	&:hover {
		color: #095d8d;
		transition: all .25s;
	}
}

.container {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
}
.column {
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-bottom: 10px;

	&:first-child {
		margin-top: 25px;
	}

	&:nth-child(even) {
		background: #eee;
	}
}

header {
	background-color: #414345;
	padding: 15px 0;
	// min-height: 250px;
	color: #ffffff;
	background-image: url('../images/header.jpg');
	background-position: 50% 90%;
	background-repeat: no-repeat;

	@media screen and (min-width: 2000px) {
		background-size: 100% auto;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 35px;
		margin-bottom: 0;
		font-weight: normal;
	}

	.top::after {
		clear: both;
		content: "";
		display: block;
	}

	.table {
		display: flex;
		flex-direction: row;

		& > div {
			flex: 1 1 auto;
		}
	}

	.description {
		padding-top: 40px;
		font-size: 26px;
	}

	&::after {
		content: "";
		clear: both;
		display: block;
	}
}

#silex-logo {
	height: 45px;
}

nav {
	&.main {
		display: block;
		float: right;

		li {
			display: block;
			float: left;
			margin-left: 5px;

			a {
				display: block;
				padding: 5px;
				margin-top: 6px;
				height: 22px;
				border-bottom: 2px solid transparent;
				font-size: 18px;
				transition: all .75s;
				color: #fff;
				text-decoration: none;
			}

			a:hover, &.active a {
				border-bottom-color: #47ade8;
				color: #47ade8;
				transition: all .25s;
			}

			a.disabled {
				color: #808080;
				border-bottom: none;
				cursor: default;
			}
		}
	}
}

.flex {
	$fmargin: 20px;
	display: flex;
	justify-content: space-between;
	&.row {
		flex-direction: row;
		& > * {
			margin: 0 $fmargin;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
		}
		&.r {
			flex-direction: row-reverse;
			*:first-child { margin-right: 0; margin-left: $fmargin; }
			*:last-child { margin-left: 0; margin-right: $fmargin; }
		}
	}
	&.column {
		flex-direction: column;
		& > * {
			margin: $fmargin 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
		&.r {
			flex-direction: column-reverse;
			*:first-child { margin-bottom: 0; margin-top: $fmargin; }
			*:last-child { margin-top: 0; margin-bottom: $fmargin; }
		}
	}
	& > * {
		display: block;
		flex: 1;
	}
}

.main-content {
	background: #fff;
	padding: 20px 0;
	// color: #596270;
	flex: 1;

	p {
		margin: 15px 0;
		// text-align: justify;
	}

	article.main {
		margin: 30px 0;
	}
}

footer.main {
	padding: 20px 0;
	display: block;
	width: 100%;
	box-sizing: border-box;
	color: #777;
	font-size: 13px;

	a {
		color: #aaa;

		&:hover {
			color: #fff;
		}
	}

	.table {
		display: flex;
		flex-direction: row;

		& > div {
			flex: 1;

			&:first-child {
				text-align: left;
			}
			&:nth-child(2) {
				text-align: center;
			}
			&:last-child {
				text-align: right;
			}
		}
	}
}
